<mat-card class="login-card row-flex">

  <mat-card class="login-box">

    <mat-card-header>
      <mat-card-title class="login-title">Login</mat-card-title>
      <mat-card-subtitle>Login to your account</mat-card-subtitle>
    </mat-card-header>

    <div class="login-form" [formGroup]="loginForm">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <mat-error>
          @if (loginForm.get('email')?.errors?.['required']) {
          <span>Email is required.</span>
          }
          @if (loginForm.get('email')?.errors?.['email']) {
          <span>Invalid email format.</span>
          }
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <mat-error>
          @if (loginForm.get('password')?.errors?.['required']) {
          <span>Password is required.</span>
          }
          @if (loginForm.get('password')?.errors?.['minlength']) {
          <span>Password must be at least 6 characters long.</span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="button-section flex">
      <button class="main-button" mat-button [disabled]="loginForm.invalid" (click)="login()">Login</button>
      <button class="second-button" mat-button (click)="register()">Register</button>
    </div>


  </mat-card>

  <mat-card class="misc-box">
    <div >
      
      <span class="useful-links">Reach Me At</span>
     <div class="social-details flex">
      <a class="linkedin" href="https://www.linkedin.com/in/saravindsubbu/" target="_blank">
        <div [class]="hover ? 'hover-effect image-container': 'isHovered image-container'" (mouseenter)="logoChange('ld')" (mouseleave)="logoChange('ld')">
          Hi
        </div>
      </a>
      
      <a class="youtube" href="https://https://www.youtube.com/@sas_est_1999" target="_blank">
        <div [class]="ythover ? 'ythover-effect image-container': 'isytHovered image-container'" (mouseenter)="logoChange('yt')" (mouseleave)="logoChange('yt')">
          Hi
        </div>
      </a>
      </div>
    </div>
  </mat-card>

</mat-card>