.button-section {
    button {
        background-color: #ed1c24;
        color: #ffffff;
        border-radius: 5px;
    }
    .second-button {
        margin-left: 10px;
        background-color: #233253;
    }
}