/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex;
}
html, body {
  margin: 0;
  padding: 0;
}
.mat-mdc-button[disabled] {
   opacity: 0.5;
}
.mat-mdc-form-field-error{
  color: #ed1c24 !important;
}